body {
  border: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1080px;
  font-family: arial, sans-serif;
}

body, table {
  color: #000;
  font-size: 13px;
}

table {
  width: 100%;
}

table, label {
  user-select: none;
}

input[type='checkbox'] {
  margin: 0;
  vertical-align: middle;
}

input[disabled] {
  opacity: 0.25 !important;
  background-color: rgba(0,0,0,0.3) !important;
}

.title {
  font-weight: 600;
}

.check {
  width: 32px;
  max-width: 32px;
  font-weight: 600;
  text-align: center;
}

.bl {border-left: solid 1px #fff}
.hl_1 {background-color: rgba(0,0,0,0.01)}
.hl_2 {background-color: rgba(0,0,0,0.05)}

.logo {
  width: 100%;
  height: 128px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  background: url('../icons/128.png') no-repeat center center;
  background-size: 64px;
}

.content table {
  border-spacing: 0 10px;
}

.content table tr td {
  height: 42px;
  padding: 0 15px;
  line-height: 42px;
}

.toolbar {
  top: 0;
  right: 0;
  width: 42px;
  z-index: 11;
  position: absolute;
}

.toolbar table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 100%;
  color: #555;
  height: 42px;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-family: arial,sans-serif;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.toolbar table tr td svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}
